.heading{
  display: flex;
  text-align: center;
  justify-content: center;
}

.task-board{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.task-board {
  display: flex;
}

.column {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #faebd7 ;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.column h2 {
  margin-top: 0;
}

.task {
  background-color:#fdf5e6;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.add-task button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #0056b3;
}

.btn-txt{
  background-color: antiquewhite;
}

.styling-input{
  width: 250px;
  height: 30px;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: auto;
}

.add-task{

}